:root {
    --primary-color: #65ffd6;
    --secondary-color: #2b2b2b;
    --text-color: white;
    --text-color-secondary: #b9b9b9;
    --background-color: #2b2b2b;
    --background-overlay: rgba(0, 0, 0, 0.7);
    --border-color: #65ffd6;
    --highlight-color: #65ffd6;
}
